#availability
  %h2
    Availability
  %h3
    Choose the date
  #available-date
    %input{:type => 'text', :value => '01/01/10'}      
  %h3
    Morning
  #morning
    .timespan 08:00 &mdash; 11:00
  %h3
    Afternoon
  #afternoon
    .timespan 12:00 &mdash; 14:00
    .timespan 16:00 &mdash; 18:00
  %h3
    Evening  
  #evening
    .timespan 18:00 &mdash; 21:00
  #book-specific-date
    %input{:type => "submit", :value => 'Book Joanne for 1 January'}
      
  
  