#availability
  %h2
    My availability
  #available-date.small-gap-after
    #calendar
    / %img#calendar-icon{:src => '/images/calendar_icon.gif'}
  / %input{:type => 'submit', :value => 'Check this date'}
  = render :partial => 'shared/hours'
  
  