- form_for @review, :url => reviews_path do |review_form|
  = review_form.hidden_field :cleaner_id, :value => @cleaner.id
  #new-review
    = review_form.text_area :text
    = render :partial => 'shared/button', :locals => {:text => "Add review", :onclick => '$("form#new_review").submit()'}