= image_tag '/images/cancel.png', {:class => 'floating-button', :id => 'delete-photo', :onclick => "deletePhoto(#{@cleaner.id})"}
- if @cleaner.photo.exists?
  - if current_user and current_user.owner == @cleaner
    :javascript
      $(document).ready(function(){prepareDeletePhoto();});
  %img.with_right_border{:src => @cleaner.photo.url(:medium), :id => 'cleaner-photo'}<>
- elsif current_user
  = render 'upload_picture'
- else
  %img.with_right_border{:src => '/photos/medium/missing.png'}<>