#reviews
  %a{:name => 'reviews'}
  - if @cleaner.reviews.count == 0
    %h5 There are no reviews yet...
    %p ...but you can write one if you have hired #{@cleaner.first_name} in the past (you must be logged in).
  - @cleaner.reviews.each do |review|
    = render :partial => 'review', :locals => {:review => review}
  - if current_user and current_user.client?
    = render :partial => 'new_review'    

    