#reviews
  %h2
    Reviews from people who hired me
  .review
    %p
      She's absolutely great!
    %p.signature
      Evgeny from E1W
    %p.timestamp
      23 February 2010

  .review
    %p
      She is very polite and punctual and her command of English is good. She's cleaning my flat on a regular basis and I'm very satisfied with her.
    %p.signature
      Mark from NW1
    %p.timestamp
      07 March 2010
    