#cleaner_summary
  %h1
    Joanne
  %p#email
    %a{:href => '#'}
      joanne@auntyjane.co.uk
  %p#phone
    p: +447912345678
  %p#introduction
    Hello, my darling! You will not regret if you ask me to come to your house...
    I will clean every nook and cranny in your kitchen, gently working with your mop...
    You'll be left satisfied...
  %p#skills
    %input{:type => 'checkbox'}
      Domestic cleaning
    %br
    %input{:type => 'checkbox'}
      Ironing
    %br
    %input{:type => 'checkbox'}
      Dog walking
    %br
    %input{:type => 'checkbox'}
      Cat feeding
    %br
    %input{:type => 'checkbox'}
      Shopping
    %br
    %input{:type => 'checkbox'}
      Waiting for deliveries and BT engineer
    %br
    %input{:type => 'checkbox'}
      Laundry collection  
      