#cleaner_summary
  %h1
    Joanne
  %p#email
    %a{:href => '#'}
      joanne@auntyjane.co.uk
  %p#phone
    %span#phone-prefix
      mob:
    +447912345678
  %p#introduction
    Hello, my darling! You will not regret if you ask me to come to your house...
    I will clean every nook and cranny in your kitchen, gently working with your mop...
    You'll be left satisfied...
    Hello, my darling! You will not regret if you ask me to come to your house...
    I will clean every nook and cranny in your kitchen, gently working with your mop...
    You'll be left satisfied...
    Hello, my darling! You will not regret if you ask me to come to your house...
    I will clean every nook and cranny in your kitchen, gently working with your mop...
    You'll be left satisfied...
  %p#skills
    %h3
      I'm happy to help you with
    %ul#skills-list
      %li 
        %span Domestic cleaning
      %li 
        %span Commercial cleaning
      %li 
        %span Looking after pets
      %li 
        %span Ironing
      %li 
        %span Groceries shopping