#hints
  %h2 Tips
  %ul
    %li
      %span You must have the right to work in the UK
    %li
      %span You must be self-employed
    %li
      %span You'll be available for hire immediately after you submit this form.
    %li
      %span The customers are price-sensitive, so a reasonable price will improve your chances.
    %li
      %span Once you get a few positive reviews, you'll feel confident about increasing the price.
    