%ul
  %li
    %span You'll be available for hire immediately after you submit this form and confirm your email address.
  %li
    %span
      You must be
      #{link_to "self-employed", 'http://www.hmrc.gov.uk/students/self_emp_studs_14_1.htm'}.
      It's easy and you can do it later.
    
  %li
    %span The customers are price-sensitive, so a reasonable price will improve your chances.    
    
  %li
    %span The first part of the postcode and your first name will be visible in your public profile
    
  %li
    %span Your phone and email will be shown only to people who decide to hire you
    
  %li
    %span Your last name will only be visible to the site administrators
    
    