!light_marine = #EAF4FD
!dark_marine = #6EA7D1
!clay = #DB530F
!brick = #BF200A
!black = #484848
!white = #FFFFFF

!master_width = 996px
!left_column = 300px
!right_column = !master_width - !left_column
!lady_height = 348px
!cleaner_height = 160px
!photo_width = 110px
!hourly_rate_width = 150px

body
  background-color = !white
  text-align: center
  font-family: verdana,helvetica,arial,sans-serif
  margin-top: 25px
  color = !black

.clearer
  clear: both

/*input[type='submit']
  background-color = !dark_marine
  color: white
  border: 1px solid #{!light_marine}
  padding: 5px
  border-radius: 25px
*/
#navigation-container
  text-align: right
  
.search-block
  margin: 25px 0    
  
a
  color = !clay
  text-decoration: underline
  &:hover
    color = !clay
  &:visited
    color = !clay
  
=thick_border(!side = top)
  border-#{!side}:
    width: 1px
    style: solid
    color = !dark_marine
  
#navigation
  width: 200px
  float: right
  padding: 3px
    
#container
  width = !master_width
  margin-left: auto
  margin-right: auto
  
#navigation-container
  display: inline-block
  vertical-align: top

#lady
  display: inline-block
  width = !left_column
  text-align: center
  
#header
  display: inline-block
  width = !right_column
  vertical-align: top
  
#lady
  height = !lady_height
  text-align: center
  vertical-align: bottom
  
#summary
  text-align: left
  display: inline-block
  width = !right_column

h1
  font-size: 110%
  color = !clay
  padding-bottom: 10px
        
#logo
  width: 480px  
  display: inline-block
  text-align: left
  
#howto
  margin-top: 10px
  
#howto-left, #howto-right
  height: 300px
  display: inline-block
  vertical-align: top
  border-left: 1px solid #{!dark_marine}
  border-top: 1px solid #{!dark_marine}
  border-top-left-radius: 20px
  text-align: center
  padding: 5px 10px
  margin-top: 15px
  width = !right_column / 2 - 1px - 50px
  
#howto-left
  margin-right: 40px
  
    
#howto-right
  
.howto-icon
  float: left
  width: 40px
  height: 40px
  
#content, #footer
  +thick_border(top)
  
.howto-step
  font-size: 16px
  color = !black
  vertical-align: middle
  height: 40px
  display: table
  margin-bottom: 15px
  margin-top: 15px
  text-align: left

.howto-title
  font-size: 140%
  color = !dark_marine
  margin-top: 10px
  
.howto-title
  text-align: center
  
.howto-text
  vertical-align: middle
  display: table-cell
  padding-left: 15px
  
.register
  font-size: 120%
  text-align: center
  margin-top: 30px
  display: block
  
.register-hint
  font-size: 60%
  text-align: center
  margin-top: 5px
  color: #999
  
#cleaners, #search
  display: inline-block

#search
  width = !left_column  
  vertical-align: top
  text-align: center

#search-where input
  border: 1px solid #{!dark_marine}  
  width: 150px
  font-size: 110%
  color = !dark_marine

#search-what

#search-activities
  text-align: left
  margin-left: 67px
  
  
#search-when

#calendar
  padding-left: 25px
    
#cleaners
  width = !right_column

#footer
  color: #999
  font-size: 70%
  padding: 10px  
  
.cleaner
  background-color = !light_marine
  margin: 10px
  margin-left: 0px
  margin-right: 0px
  border-bottom: 1px solid #{!dark_marine}
  
.cleaner .photo, .cleaner .photo img
  height = !cleaner_height
  
.cleaner .photo img
  display: block
  
.cleaner .details
  width = !right_column - !photo_width - !hourly_rate_width
  
.cleaner .hourly-rate
  color = !clay
  font-weight: normal
  font-size: 60px
  text-align: center
  width = !hourly_rate_width

.cleaner .details
  text-align: left
  vertical-align: top
  padding: 15px
  color = !dark_marine
  
.book-online
  font-size: 120%
  font-style: bold
  text-decoration: underline
  vertical-align: middle
  height: 30px
  
  
  
  
  
  
  
  
  
  
  