#new-booking
  text-align: left
  padding-left: 24px

  .hourly-rate
    float: right
    display: none

  #calendar
    +cross_inline_block
    width: 300px
    padding-left: 0

  #hours
    +cross_inline_block
    vertical-align: top
    text-align: center
  
  #cleaning-materials
    p
      margin-top: 12px
  
  #time-selectors
    *
      vertical-align: middle
    #end-time
      margin: 0 20px 0 5px
    #start-time
      margin: 0 5px 0 0 
    #start-time, #end-time
      +cross_inline_block
    & select
      *width: 60px
      

  #cost
    font-size: 18px
  
  #submit
    font-size: 125%

#bookings
  text-align: left
  padding: 0 $column_padding * 2
  
  .booking
    width: 100%
    background-color: $pale_blue
    border-bottom: 2px solid $mine_shaft
    margin-bottom: 12px
    .body, .title, .notes
      padding: 6px
      & > *
        +cross_inline_block
    .title
      background-color: $mine_shaft
      color: white
      font-size: 18px      
    .notes
      border-top: 1px solid $mine_shaft
          
  .cleaners-booking
    .client-name, .contact-details
      width: 209px
    .time
      width: 308px
    .status
      width: 110px        
      text-align: right
    .address
      width: 229px
    .booking-deal
      width: 189px
    .body
      .contact-details
      .address
        .map-link
          font-weight: bold
      .booking-deal
        text-align: center
        .price
          color: $safety_orange
          font-size: 36px
          font-weight: bold
          margin-bottom: 6px

    

#upcoming
  margin-bottom: 20px    

      
    
          
