#new-booking

  .hourly-rate
    float: right

  #calendar
    display: inline-block
    width: 300px
    padding-left: 0

  #hours
    display: inline-block
    vertical-align: top
    text-align: center

  #cost
    font-size: 200%
    color = !clay
    padding: 15px
    border-top: 1px solid #{!clay}
    width: 75%
  
  #submit
    font-size: 150%

.booking
  +coloured-block-in-a-stack
  & > div
    display: inline-block
    vertical-align: top
  .booking-deal
    width: 178px    
    .price
      +big_orange_price
    .status
      margin: 10px 0
      text-align: center
    .controls
      text-align: center
      & > form
        margin-bottom: 15px
    

.clients-booking
  .photo
    width = !photo_width
    line-height: 0
  .booking-details
    padding: 10px
    width: 370px
    .cleaner-contact-details
      padding: 0 0 0 10px
  
.cleaners-booking
  padding: 0 10px  
  
  .personal-details
    width: 250px
    .client-name
      margin-top: 10px
    .client-contact-details
      padding: 0 0 10px 10px
      
  
  .booking-details
    width: 250px
    padding-top: 10px
    .extra
      margin-top: 20px
      
    
          
