!yellow = #FECA40
!orange = #F39814

#cleaner-summary
  padding: 0 #{!column_interspace}

  #details
    & > div
      margin-top: 10px
      display: inline-block
      vertical-align: top
    #skills, #stats
      width = !right_column / 2 - 100px        
  
  .booking
    float: right
    
  #introduction, #stats
    display: inline-block
  
  #introduction
    height: 85px
    overflow: hidden 
    margin-top: 10px
    
#availability
  #calendar
    padding-left: 12px
    
#hints
  ul
    text-align: left
    margin: 0 50px    
    
#reviews
  padding-top: 20px
  .review
    padding: 5px 15px
    +coloured-block-in-a-stack

    .signature, .timestamp
      color = !clay
      font-size: 80%

#new-cleaner
  #description textarea
    width: 400px
    height: 50px

  #set-availability
    width = 430px
    height: 370px   
    ul
      margin-left: 0
    li
      float: left
      width: 50px
      height: 20px
      text-align: center
      font-size: 9px    
      list-style-type: none
      margin: 0
      padding: 0      
      border:
        right: 1px solid #{!medium_gray}
        bottom: 1px solid #{!medium_gray}

    li.ui-selecting
      background = !yellow

    li.ui-selected
      background = !orange
      color: white
    
    li.non-selectable
      color = !black
      
#availability
  #calendar
    margin-bottom: 40px



