=cross_inline_block
  display: inline-block
  zoom: 1
  *display: inline
  
#container
  width = !master_width
  background-color: white
  margin-left: auto
  margin-right: auto

#header
  background-color = !light_gray

#navigation
  text-align: right
  padding-right = !column_padding * 2
  
  #links
    +cross_inline_block
    background-color = !light_blue
    vertical-align: top
    line-height: 23px
    height: 23px
    color = !dark_gray
    
    a
      text-decoration: none
      margin: 0 10px

#tabs
  height: 26px
  text-align: right
  font-size: 14px
  padding-right = !column_padding * 2
  #links
    +cross_inline_block
    vertical-align: top
    height: 26px
    line-height: 26px
    background-color = !dark_blue
    color = !dark_gray
    
    .current
      color: white
    
    a
      text-decoration: none
      margin: 0 10px

#logo
  text-align: left
  margin-left = !column_padding * 2
  
#quote-text
  padding: #{!column_padding} #{!column_padding * 2}
  text-align: left
  font-size: 12px
  
#quote-signature
  text-align: right
  padding-right = !column_padding * 2
  margin-top = !column_padding

#search-area-container 
  & > *
    +cross_inline_block
  #search-area
    width = !column_width * 4 - !column_padding * 4
    #title-container
      background-color = !dark_blue
      height: 41px
    #form-container
      background-color = !light_blue
      height: 83px
  
#summary
  height: 307px
  
#content
  border-top: 3px solid #{!dark_blue}

=big_orange_price
  color = !safety_orange
  font-size: 40px
  text-align: center
  line-height: 80px  

.hourly-rate
  +big_orange_price
  .hour
    font-size: 15px
    color= !dark_gray

#calendar
  font-size: 120%
  
#footer
  color = !light_gray
  background-color = !dark_gray
  font-size: 90%
  padding = !column_padding
  height: 150px

.clearer
  clear: both
  
=coloured-block-in-a-stack
  background-color = !light_blue
  margin: 10px 0
  border-top: 1px solid #{!dark_blue}
  
body > #login-form
  display: none

.fieldWithErrors input
  border: 1px solid red
  
#errors
  border-left: 15px solid red
  border-top: 1px solid red
  padding: 10px

.errorExplanation
  h2
    color: red
  ul
    li
      color: black
      font-size: 120%
            
#flash div
  margin: 10px 30px
  padding: 10px
  background-color: yellow
  border-left: 15px solid #{!dark_blue}
  border-top: 1px solid #{!dark_blue}
  
#flash div.error
  border-left: 15px solid red
  border-top: 1px solid red
  
#flash div.warn
  border-left: 15px solid orange
  border-top: 1px solid orange
  
div.fieldWithErrors
  display: inline
  
#old-password
  margin-top: 30px    
  
  
  
  
  
  
  
  
  