#two-columns
  *
    vertical-align: top
  
#left-block
  width = !column_width * 2
  heigth: 100%
  +cross_inline_block
  
#right-block
  width = !column_width * 4
  height: 100%
  +cross_inline_block
  #summary
    & > *
      +cross_inline_block
      width = !column_width * 2 - !column_padding * 3
      padding-left = !column_padding * 3
    .title
      color = !safety_orange
      font-size: 18px
      margin: 0px 0
    .step
      text-align: left
      *
        +cross_inline_block
      .text
        line-height: 52px
        font-size: 15px
        padding-left = !column_padding * 2
    .action
      margin-top: 15px        

#cleaners, #latest-activity
  +cross_inline_block
  margin-top = !column_padding * 2
  margin-bottom = !column_padding * 2

#cleaners
  width = !column_width * 4 - !column_padding * 4
  margin-right = !column_padding
  padding-left: !column_padding * 4
  #pagination
    font-size: 14px
    & > div
      line-height: 25px
      margin: 3px
      +cross_inline_block
      background-color = !dark_blue
      height: 25px
      width: 25px
      color: white
      font-weight: bold
    .active
      background-color = !safety_orange
    .page-mdot
      height: 7px
      width: 7px
      vertical-align: middle

#latest-activity
  border-top: 2px solid #{!dark_blue}
  width = !column_width * 2 - !column_padding * 4
  padding-right: !column_padding * 4
  background-color: #FFFACD
  vertical-align: top
  padding = !column_padding !column_padding * 2
  text-align: left  
  
.cleaner
  height: 160px
  margin-bottom = !column_padding * 2
  border-top: 2px solid #{!dark_blue}
  background-color = !light_blue
  text-align: left
  *
    vertical-align: top
  & > div
    +cross_inline_block
  .button
    font-size: 12px
  .photo
    width: 122px
    position: relative
    height: 160px
    img
      position: absolute
      bottom: 0px
  .text
    padding-top = !column_padding
    padding-right = !column_padding * 2
    width: 340px
    .name
      a
        color = !safety_orange
    .university
      font-size: 10px
      text-decoration: underline
      margin: #{!column_padding} 10px
    .introduction
      font-size: 14px
    .stats
      font-size: 10px
      margin-top: 12px
      color = !safety_orange
      .stats-column-first
        width: 75px
      .stats-column-second
        width: 130px
      .stats-column-third
        width: 108px
      .reviews, .missed-jobs, .last-logged-in
        margin-top: 3px
      & > div
        +cross_inline_block
        a
          color = !safety_orange
  .booking-info
    padding-top = !column_padding
    width: 166px
    .price      
    .availability
      margin: 5px 0
      .active
        color = !safety_orange
        font-weight: bold
      .inactive
        color = !dark_gray
      & > div
        & > div
          margin: 4px 0
        width: 40px
        padding-left: 15px
        +cross_inline_block
  
#faq
  .faq-item
    margin: #{!column_padding * 4} 0
    p
      padding-left = !column_padding