.long-form
  & > div
    margin-bottom: 20px    
    
  & > div > div
    margin-bottom: 15px
    padding-left: 20px
  
  #name div
    vertical-align: middle

  #honorific, #first-name, #last-name
    +cross_inline_block
    margin-right: 3px
    
  & input[type='text']
    width: 250px
    
  #terms-and-conditions input
    margin-right: 10px
    
  #submit
    font-size: 125%
  
