body
  background-color = !white
  text-align: center
  font-family: verdana,helvetica,arial,sans-serif
  margin-top: 25px
  color = !black
  font-size: 12px

a
  color = !clay
  text-decoration: underline
  &:hover
    color = !clay
  &:visited
    color = !clay
    
h1, h2, h3, h4, h5, h6
  color = !clay
  padding-bottom: 10px

h1
  font-size: 170%

h2
  font-size: 130%

h3
  font-size: 110%
  padding-bottom: 3px

p
  margin: 5px 0
  
input[type='text'], input[type='password']
  border: 1px solid #{!dark_marine}  
  color = !dark_marine
  
input[type='submit'], input[type='button']
  padding: 3px 7px
  *padding: 0
  
ul
  margin-left = !column_interspace

li
  list-style-type: square
  color = !clay
  font-size: 18px
  line-height: 20px

li span
  color = !black
  font-size: 12px

