a
  color = !clay
  text-decoration: underline
  &:hover
    color = !clay
  &:visited
    color = !clay
    
h1, h2, h3, h4, h5, h6
  color = !clay
  padding-bottom: 10px

h1
  font-size: 170%

h2
  font-size: 130%

h3
  font-size: 110%
  padding-bottom: 3px

p
  margin: 5px 0
  
input[type='text']
  border: 1px solid #{!dark_marine}  
  font-size: 110%
  color = !dark_marine
  
