!light_marine = #EAF4FD
!dark_marine = #6EA7D1
!clay = #DB530F
!brick = #BF200A
!black = #484848
!white = #FFFFFF
!medium_gray = #999

!master_width = 996px
!left_column = 250px
!column_interspace = 20px
!right_column = !master_width - !left_column

@import general.sass
@import homepage.sass
@import cleaner.sass

#available-date *
  vertical-align: bottom

#hire-what-day #calendar
  display: inline-block
  width: 300px

#hire-what-day #hours
  display: inline-block
  vertical-align: top
  text-align: center

#hire-what-day #calendar
  padding-left: 0
  
#total-cost
  font-size: 200%
  color = !clay
  padding: 15px
  border-top: 1px solid #{!clay}
  width: 50%
            
#hire
  padding-left = !column_interspace