body {
  background-color: white;
  text-align: center;
  font-family: verdana,helvetica,arial,sans-serif;
  margin-top: 20px; }

.clearer {
  clear: both; }

#navigation {
  text-align: right; }

#container, #navigation {
  width: 996px;
  margin-left: auto;
  margin-right: auto; }

#container {
  background: white; }

#lady {
  display: inline;
  width: 300px;
  float: left;
  text-align: center; }

#lady, #lady img {
  height: 348px; }

#summary {
  display: inline;
  padding-left: 300px;
  text-align: left; }

#header {
  text-align: left;
  padding: 20px; }

#logo {
  font-size: 200%; }

#content, #footer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #555555; }

.howto-step {
  vertical-align: top; }

#cleaners, #search {
  display: inline-block; }

#search {
  width: 300px; }

#cleaners {
  width: 689px; }

#footer {
  color: #aaaaaa;
  font-size: 70%; }
