body {
  background-color: white;
  text-align: center;
  font-family: verdana,helvetica,arial,sans-serif;
  margin-top: 25px;
  color: #6ea7d1; }

.clearer {
  clear: both; }

#navigation-container {
  text-align: right; }

.search-block {
  margin: 25px 0; }

#navigation {
  width: 200px;
  float: right;
  padding: 3px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6ea7d1; }

#container {
  width: 996px;
  margin-left: auto;
  margin-right: auto; }

#navigation-container {
  display: inline-block;
  vertical-align: top; }

#lady {
  display: inline-block;
  width: 300px;
  text-align: center; }

#header {
  display: inline-block;
  width: 696px;
  vertical-align: top; }

#lady {
  height: 348px;
  text-align: center;
  vertical-align: top; }

#summary {
  text-align: left;
  display: inline-block;
  width: 696px; }

h1 {
  font-size: 110%;
  color: #db530f;
  padding-bottom: 10px; }

#logo {
  width: 480px;
  display: inline-block;
  text-align: left; }

#howto-left, #howto-right {
  display: inline-block;
  width: 348px; }

.howto-icon {
  display: inline-block; }

#content, #footer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6ea7d1; }

.howto-step {
  vertical-align: top;
  font-size: 14px;
  color: #484848; }

#cleaners, #search {
  display: inline-block; }

#search {
  width: 300px;
  vertical-align: top;
  text-align: center; }

#search-where input {
  border: 1px solid #6ea7d1;
  width: 150px;
  font-size: 110%;
  color: #6ea7d1; }


#search-activities {
  text-align: left;
  margin-left: 67px; }


#calendar {
  padding-left: 25px; }

#cleaners {
  width: 696px; }

#footer {
  color: #484848;
  font-size: 70%; }

.cleaner {
  background-color: #eaf4fd;
  margin: 10px;
  margin-left: 0px;
  margin-right: 0px;
  border-bottom: 1px solid #6ea7d1; }

.cleaner .photo, .cleaner .photo img {
  height: 160px; }

.cleaner .photo img {
  display: block; }

.cleaner .details {
  width: 436px; }

.cleaner .hourly-rate {
  color: #db530f;
  font-weight: normal;
  font-size: 60px;
  text-align: center;
  width: 150px; }

.cleaner .details {
  text-align: left;
  vertical-align: top;
  padding: 15px;
  color: #6ea7d1; }

.book-online {
  font-size: 120%;
  font-style: bold;
  text-decoration: underline;
  vertical-align: middle;
  height: 30px; }
