html {
  height: 100%; }

body {
  height: 100%;
  background-color: #f4f4f4;
  text-align: center;
  font-family: Helvetica,Arial,Verdana,sans-serif;
  color: #000;
  font-size: 12px; }

a {
  color: #585858;
  text-decoration: underline; }
  a:hover {
    color: #585858; }
  a:visited {
    color: #585858; }

h1, h2, h3, h4, h5, h6 {
  color: #ff6600; }

h1 {
  font-size: 170%; }

h2 {
  font-size: 130%; }

h3 {
  font-size: 110%; }

p {
  margin: 5px 0; }

input[type='text'], input[type='password'] {
  border: 1px solid #6fbdfe;
  color: #6fbdfe; }

input[type='submit'], input[type='button'] {
  padding: 3px 7px;
  *padding: 0; }

li {
  list-style-type: square;
  color: #ff6600;
  font-size: 18px;
  line-height: 20px; }

li span {
  font-size: 12px; }

#container {
  width: 996px;
  background-color: white;
  margin-left: auto;
  margin-right: auto; }

#header {
  background-color: #f4f4f4; }

#navigation {
  text-align: right;
  padding-right: 12px; }
  #navigation #links {
    display: inline-block;
    zoom: 1;
    *display: inline;
    background-color: #cfe8fd;
    vertical-align: top;
    line-height: 23px;
    height: 23px;
    color: #585858; }
    #navigation #links a {
      text-decoration: none;
      margin: 0 10px; }

#tabs {
  height: 26px;
  text-align: right;
  font-size: 14px;
  padding-right: 12px; }
  #tabs #links {
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top;
    height: 26px;
    line-height: 26px;
    background-color: #6fbdfe;
    color: #585858; }
    #tabs #links .current {
      color: white; }
    #tabs #links a {
      text-decoration: none;
      margin: 0 10px; }

#logo {
  text-align: left;
  margin-left: 12px; }

#quote-text {
  padding: 6px 12px;
  text-align: left;
  font-size: 12px; }

#quote-signature {
  text-align: right;
  padding-right: 12px;
  margin-top: 6px; }

#search-area-container > * {
  display: inline-block;
  zoom: 1;
  *display: inline; }
#search-area-container #search-area {
  width: 640px; }
  #search-area-container #search-area #title-container {
    background-color: #6fbdfe;
    height: 41px; }
  #search-area-container #search-area #form-container {
    background-color: #cfe8fd;
    height: 83px; }

#summary {
  height: 307px; }

#content {
  border-top: 3px solid #6fbdfe; }

.hourly-rate {
  color: #ff6600;
  font-size: 40px;
  text-align: center;
  line-height: 80px; }
  .hourly-rate .hour {
    font-size: 15px;
    color: #585858; }

#calendar {
  font-size: 120%; }

#footer {
  color: #f4f4f4;
  background-color: #585858;
  font-size: 90%;
  padding: 6px;
  height: 150px; }

.clearer {
  clear: both; }

body > #login-form {
  display: none; }

.fieldWithErrors input {
  border: 1px solid red; }

#errors {
  border-left: 15px solid red;
  border-top: 1px solid red;
  padding: 10px; }

.errorExplanation h2 {
  color: red; }
.errorExplanation ul li {
  color: black;
  font-size: 120%; }

#flash div {
  margin: 10px 30px;
  padding: 10px;
  background-color: yellow;
  border-left: 15px solid #6fbdfe;
  border-top: 1px solid #6fbdfe; }

#flash div.error {
  border-left: 15px solid red;
  border-top: 1px solid red; }

#flash div.warn {
  border-left: 15px solid orange;
  border-top: 1px solid orange; }

div.fieldWithErrors {
  display: inline; }

#old-password {
  margin-top: 30px; }

#top {
  height: 546px; }
  #top * {
    vertical-align: top; }

#left-block {
  width: 332px;
  heigth: 100%;
  display: inline-block;
  zoom: 1;
  *display: inline; }

#right-block {
  width: 664px;
  height: 100%;
  display: inline-block;
  zoom: 1;
  *display: inline; }
  #right-block #tagline {
    margin-top: 23px; }
    #right-block #tagline #border, #right-block #tagline #text-container {
      display: inline-block;
      zoom: 1;
      *display: inline; }
    #right-block #tagline #text-container {
      background-color: #cfe8fd;
      width: 652px;
      height: 67px;
      text-align: center; }
    #right-block #tagline #text {
      margin: auto;
      margin-top: 8px;
      width: 530px;
      color: #585858;
      font-size: 22px; }

#quote {
  background-image: url(/images/left-column-background.png);
  background-repeat: no-repeat;
  min-height: 21px;
  padding-top: 10px; }

#new-client #country-name {
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 250px;
  border: 1px solid black;
  *margin-right: 5px; }

#cleaner-summary #details > div {
  margin-top: 10px;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top; }
#cleaner-summary #details #skills, #cleaner-summary #details #stats {
  width: 209px; }
#cleaner-summary #introduction {
  height: 105px;
  overflow: hidden; }

#availability #calendar {
  padding-left: 12px; }

#hints ul {
  text-align: left;
  margin: 0 50px; }

#reviews {
  padding-top: 20px; }
  #reviews .review {
    padding: 5px 15px;
    background-color: #cfe8fd;
    margin: 10px 0;
    border-top: 1px solid #6fbdfe; }
    #reviews .review .signature, #reviews .review .timestamp {
      color: #ff6600;
      font-size: 80%; }

#new-cleaner #description textarea {
  width: 400px;
  height: 100px; }
#new-cleaner #skills .fieldWithErrors, #new-cleaner #terms-and-conditions .fieldWithErrors {
  display: inline; }
#new-cleaner #set-availability {
  width: 430px;
  height: 370px; }
  #new-cleaner #set-availability ul {
    margin-left: 0; }
  #new-cleaner #set-availability li {
    float: left;
    width: 50px;
    height: 20px;
    text-align: center;
    font-size: 9px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-right: 1px solid #585858;
    border-bottom: 1px solid #585858; }
  #new-cleaner #set-availability li.ui-selecting {
    background: yellow; }
  #new-cleaner #set-availability li.ui-selected {
    background: orange;
    color: white; }
  #new-cleaner #set-availability li.non-selectable {
    color: black; }

#availability #calendar {
  margin-bottom: 10px; }

#reviews #new-review textarea {
  width: 100%;
  height: 50px; }

#reviews #new-review {
  margin-bottom: 10px; }

#upload-picture {
  width: 250px;
  height: 310px;
  text-align: center;
  border-right: 1px solid #6fbdfe; }

#upload-picture-hint {
  padding-top: 100px;
  margin-bottom: 20px;
  line-height: 20px; }

.floating-button {
  position: absolute;
  right: 0px;
  bottom: 0;
  z-index: 3;
  display: none; }

#cleaner-photo {
  right: 0;
  position: absolute;
  bottom: 0; }

#new-booking .hourly-rate {
  float: right; }
#new-booking #calendar {
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 300px;
  padding-left: 0; }
#new-booking #hours {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  text-align: center; }
#new-booking #time-selectors #end-time {
  margin: 0 20px 0 5px; }
#new-booking #time-selectors #start-time {
  margin: 0 5px 0 0; }
#new-booking #time-selectors #start-time, #new-booking #time-selectors #end-time {
  display: inline-block;
  zoom: 1;
  *display: inline; }
#new-booking #time-selectors select {
  *width: 60px; }
#new-booking #cost {
  font-size: 200%;
  color: #ff6600;
  padding: 15px;
  border-top: 1px solid #ff6600;
  width: 75%; }
#new-booking #submit {
  font-size: 125%; }

#upcoming {
  margin-bottom: 20px; }

.booking {
  background-color: #cfe8fd;
  margin: 10px 0;
  border-top: 1px solid #6fbdfe; }
  .booking > div {
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top; }
  .booking .booking-deal {
    width: 178px; }
    .booking .booking-deal .price {
      color: #ff6600;
      font-size: 40px;
      text-align: center;
      line-height: 80px; }
    .booking .booking-deal .status {
      margin: 10px 0;
      text-align: center; }
    .booking .booking-deal .controls {
      text-align: center; }
      .booking .booking-deal .controls > form {
        margin-bottom: 15px; }

.clients-booking .photo {
  width: 332px;
  line-height: 0; }
.clients-booking .booking-details {
  padding: 10px;
  width: 370px; }
  .clients-booking .booking-details .cleaner-contact-details {
    padding: 0 0 0 10px; }

.cleaners-booking {
  padding: 0 10px; }
  .cleaners-booking .personal-details {
    width: 200px; }
    .cleaners-booking .personal-details .client-name {
      margin-top: 10px; }
    .cleaners-booking .personal-details .client-contact-details {
      padding: 0 0 10px 10px; }
  .cleaners-booking .booking-details {
    width: 300px;
    padding-top: 10px; }
    .cleaners-booking .booking-details .extra {
      margin-top: 20px; }

.long-form > div {
  margin-bottom: 20px; }
.long-form > div > div {
  margin-bottom: 15px;
  padding-left: 20px; }
.long-form #name div {
  vertical-align: middle; }
.long-form #honorific, .long-form #first-name, .long-form #last-name {
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-right: 3px; }
.long-form input[type='text'] {
  width: 250px; }
.long-form #terms-and-conditions input {
  margin-right: 10px; }
.long-form #submit {
  font-size: 125%; }
