body {
  background-color: white;
  text-align: center;
  font-family: verdana,helvetica,arial,sans-serif;
  margin-top: 25px;
  color: #484848;
  font-size: 12px; }

a {
  color: #db530f;
  text-decoration: underline; }
  a:hover {
    color: #db530f; }
  a:visited {
    color: #db530f; }

h1, h2, h3, h4, h5, h6 {
  color: #db530f;
  padding-bottom: 10px; }

h1 {
  font-size: 170%; }

h2 {
  font-size: 130%; }

h3 {
  font-size: 110%;
  padding-bottom: 3px; }

p {
  margin: 5px 0; }

input[type='text'], input[type='password'] {
  border: 1px solid #6ea7d1;
  color: #6ea7d1; }

input[type='submit'], input[type='button'] {
  padding: 3px 7px;
  *padding: 0; }

ul {
  margin-left: 20px; }

li {
  list-style-type: square;
  color: #db530f;
  font-size: 18px;
  line-height: 20px; }

li span {
  color: #484848;
  font-size: 12px; }

#container {
  width: 996px;
  margin-left: auto;
  margin-right: auto; }

#left-column {
  width: 250px; }

#right-column {
  width: 746px;
  text-align: left; }

#left-column, #right-column {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top; }

#left-content {
  padding: 20px 0; }

#header {
  text-align: right; }
  #header > * {
    vertical-align: top; }

#master-picture-container {
  width: 250px;
  height: 310px;
  text-align: center;
  border-bottom: 1px solid #6ea7d1; }

#master-picture {
  position: relative;
  height: 310px;
  text-align: right;
  vertical-align: bottom;
  line-height: 0; }

.with_right_border {
  border-right: 1px solid #6ea7d1; }

#welcome-line {
  vertical-align: top;
  width: 150px;
  display: inline-block;
  zoom: 1;
  *display: inline;
  padding: 3px;
  text-align: right; }

#navigation-container {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  text-align: right;
  width: 250px; }

#navigation {
  float: right;
  padding: 3px; }

#logo {
  width: 480px;
  display: inline-block;
  zoom: 1;
  *display: inline;
  text-align: left;
  margin-bottom: 25px; }

#summary-block {
  border-bottom: 1px solid #6ea7d1;
  height: 310px;
  text-align: left; }

#right-container {
  padding: 20px;
  padding-top: 0; }

.hourly-rate {
  color: #db530f;
  font-size: 40px;
  text-align: center;
  line-height: 80px; }
  .hourly-rate .hour {
    font-size: 15px;
    color: #999999; }

.make-a-booking {
  text-align: center; }
  .make-a-booking .book-online {
    height: 35px; }

#calendar {
  font-size: 120%; }

#footer {
  color: #999999;
  font-size: 80%;
  padding: 10px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6ea7d1; }

.clearer {
  clear: both; }

body > #login-form {
  display: none; }

.fieldWithErrors input {
  border: 1px solid red; }

#errors {
  border-left: 15px solid red;
  border-top: 1px solid red;
  padding: 10px; }

.errorExplanation h2 {
  color: red; }
.errorExplanation ul li {
  color: black;
  font-size: 120%; }

#flash {
  width: 746px;
  margin-left: 250px; }

#flash div {
  margin: 10px 30px;
  padding: 10px;
  background-color: #fcf75e;
  border-left: 15px solid #6ea7d1;
  border-top: 1px solid #6ea7d1; }

#flash div.error {
  border-left: 15px solid red;
  border-top: 1px solid red; }

#flash div.warn {
  border-left: 15px solid orange;
  border-top: 1px solid orange; }

div.fieldWithErrors {
  display: inline; }

#old-password {
  margin-top: 30px; }

.page-header {
  margin-bottom: 20px; }

#find-a-cleaner {
  padding-top: 5px; }
  #find-a-cleaner > form > div {
    margin-bottom: 25px; }
  #find-a-cleaner #activities {
    text-align: left;
    margin-left: 50px; }
  #find-a-cleaner #calendar {
    padding-left: 12px; }

.full-width {
  left: -200px; }

#welcome {
  text-align: center; }
  #welcome #client-points, #welcome #cleaner-points {
    display: inline-block;
    zoom: 1;
    *display: inline;
    height: 230px;
    vertical-align: top;
    background-image: url(/images/corner.png);
    padding: 5px 10px;
    width: 323px; }
  #welcome #client-points {
    margin-right: 55px; }
  #welcome #light-search {
    border-top: 1px solid #6ea7d1;
    padding-top: 15px; }
    #welcome #light-search * {
      vertical-align: middle; }
    #welcome #light-search form * {
      display: inline; }
    #welcome #light-search #postcode input {
      font-size: 25px;
      width: 150px; }
    #welcome #light-search #label {
      color: #db530f;
      font-size: 20px; }
    #welcome #light-search #number-of-results {
      margin: 3px 0;
      color: #db530f;
      text-align: right; }
  #welcome .icon {
    float: left;
    width: 40px; }
  #welcome .step {
    font-size: 130%;
    color: #484848;
    display: block;
    text-align: left; }
  #welcome .icon, #welcome .step {
    height: 40px; }
  #welcome .title {
    font-size: 150%;
    color: #db530f;
    margin: 15px 0; }
  #welcome .text {
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin-left: 15px;
    line-height: 40px; }
  #welcome .action {
    font-size: 160%;
    margin-top: 15px;
    display: block;
    color: #db530f; }
  #welcome .hint {
    font-size: 80%;
    margin-top: 5px;
    color: #999999; }

#cleaners .cleaner {
  background-color: #eaf4fd;
  margin: 10px 0;
  border-bottom: 1px solid #6ea7d1; }
  #cleaners .cleaner .photo, #cleaners .cleaner .details, #cleaners .cleaner .make-a-booking {
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 110px; }
  #cleaners .cleaner .photo {
    vertical-align: bottom;
    line-height: 0; }
    #cleaners .cleaner .photo img {
      display: inline; }
  #cleaners .cleaner .details {
    padding-left: 10px;
    width: 406px;
    text-align: left;
    color: #6ea7d1;
    vertical-align: top; }
    #cleaners .cleaner .details .name {
      margin-top: 10px; }
    #cleaners .cleaner .details .stats {
      vertical-align: top;
      width: 160px; }
    #cleaners .cleaner .details .introduction, #cleaners .cleaner .details .stats {
      display: inline-block;
      zoom: 1;
      *display: inline; }
    #cleaners .cleaner .details .introduction {
      width: 240px;
      color: #484848; }
    #cleaners .cleaner .details .days-of-week {
      margin-top: 20px; }
      #cleaners .cleaner .details .days-of-week * {
        display: inline; }
      #cleaners .cleaner .details .days-of-week .active {
        color: #db530f; }
      #cleaners .cleaner .details .days-of-week .inactive {
        color: #999999; }
  #cleaners .cleaner .make-a-booking {
    width: 180px; }

.faq-item {
  margin-bottom: 30px; }

.no-bottom-gap {
  padding-bottom: 0 ! important;
  line-height: 0; }

#new-client #country-name {
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 250px;
  border: 1px solid #484848;
  *margin-right: 5px; }

#cleaner-summary {
  padding: 0 20px; }
  #cleaner-summary #details > div {
    margin-top: 10px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top; }
  #cleaner-summary #details #skills, #cleaner-summary #details #stats {
    width: 250px; }
  #cleaner-summary #introduction {
    height: 105px;
    overflow: hidden; }

#availability #calendar {
  padding-left: 12px; }

#hints ul {
  text-align: left;
  margin: 0 50px; }

#reviews {
  padding-top: 20px; }
  #reviews .review {
    padding: 5px 15px;
    background-color: #eaf4fd;
    margin: 10px 0;
    border-bottom: 1px solid #6ea7d1; }
    #reviews .review .signature, #reviews .review .timestamp {
      color: #db530f;
      font-size: 80%; }

#new-cleaner #description textarea {
  width: 400px;
  height: 100px; }
#new-cleaner #skills .fieldWithErrors, #new-cleaner #terms-and-conditions .fieldWithErrors {
  display: inline; }
#new-cleaner #set-availability {
  width: 430px;
  height: 370px; }
  #new-cleaner #set-availability ul {
    margin-left: 0; }
  #new-cleaner #set-availability li {
    float: left;
    width: 50px;
    height: 20px;
    text-align: center;
    font-size: 9px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999; }
  #new-cleaner #set-availability li.ui-selecting {
    background: #feca40; }
  #new-cleaner #set-availability li.ui-selected {
    background: #f39814;
    color: white; }
  #new-cleaner #set-availability li.non-selectable {
    color: #484848; }

#availability #calendar {
  margin-bottom: 10px; }

#reviews #new-review textarea {
  width: 100%;
  height: 50px; }

#reviews #new-review {
  margin-bottom: 10px; }

#upload-picture {
  width: 250px;
  height: 310px;
  text-align: center;
  border-right: 1px solid #6ea7d1; }

#upload-picture-hint {
  padding-top: 100px;
  margin-bottom: 20px;
  line-height: 20px; }

.floating-button {
  position: absolute;
  right: 0px;
  bottom: 0;
  z-index: 3;
  display: none; }

#cleaner-photo {
  right: 0;
  position: absolute;
  bottom: 0; }

#new-booking .hourly-rate {
  float: right; }
#new-booking #calendar {
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 300px;
  padding-left: 0; }
#new-booking #hours {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  text-align: center; }
#new-booking #time-selectors #end-time {
  margin: 0 20px 0 5px; }
#new-booking #time-selectors #start-time {
  margin: 0 5px 0 0; }
#new-booking #time-selectors #start-time, #new-booking #time-selectors #end-time {
  display: inline-block;
  zoom: 1;
  *display: inline; }
#new-booking #time-selectors select {
  *width: 60px; }
#new-booking #cost {
  font-size: 200%;
  color: #db530f;
  padding: 15px;
  border-top: 1px solid #db530f;
  width: 75%; }
#new-booking #submit {
  font-size: 125%; }

#upcoming {
  margin-bottom: 20px; }

.booking {
  background-color: #eaf4fd;
  margin: 10px 0;
  border-bottom: 1px solid #6ea7d1; }
  .booking > div {
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top; }
  .booking .booking-deal {
    width: 178px; }
    .booking .booking-deal .price {
      color: #db530f;
      font-size: 40px;
      text-align: center;
      line-height: 80px; }
    .booking .booking-deal .status {
      margin: 10px 0;
      text-align: center; }
    .booking .booking-deal .controls {
      text-align: center; }
      .booking .booking-deal .controls > form {
        margin-bottom: 15px; }

.clients-booking .photo {
  width: 110px;
  line-height: 0; }
.clients-booking .booking-details {
  padding: 10px;
  width: 370px; }
  .clients-booking .booking-details .cleaner-contact-details {
    padding: 0 0 0 10px; }

.cleaners-booking {
  padding: 0 10px; }
  .cleaners-booking .personal-details {
    width: 200px; }
    .cleaners-booking .personal-details .client-name {
      margin-top: 10px; }
    .cleaners-booking .personal-details .client-contact-details {
      padding: 0 0 10px 10px; }
  .cleaners-booking .booking-details {
    width: 300px;
    padding-top: 10px; }
    .cleaners-booking .booking-details .extra {
      margin-top: 20px; }

.long-form > div {
  margin-bottom: 20px; }
.long-form > div > div {
  margin-bottom: 15px;
  padding-left: 20px; }
.long-form #name div {
  vertical-align: middle; }
.long-form #honorific, .long-form #first-name, .long-form #last-name {
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-right: 3px; }
.long-form input[type='text'] {
  width: 250px; }
.long-form #terms-and-conditions input {
  margin-right: 10px; }
.long-form #submit {
  font-size: 125%; }
