html {
  height: 100%;
  background-color: #f4f4f4; }

*:focus {
  outline: none; }

body {
  text-align: center;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  color: #585858;
  font-size: 12px;
  height: 100%; }

a {
  color: #585858;
  text-decoration: underline; }
  a:hover {
    color: #585858; }
  a:visited {
    color: #585858; }

h1, h2, h3, h4, h5, h6 {
  color: #6fbdfe; }

h1 {
  font-size: 22px; }

h2 {
  font-size: 20px;
  padding: 12px 0; }

h3 {
  font-size: 18px;
  margin-top: 36px; }

h4 {
  color: #323232;
  font-size: 16px; }

h5 {
  font-size: 14px;
  padding: 12px 0; }

h6 {
  font-size: 12px;
  font-weight: bold; }

p {
  margin: 5px 0; }

input[type='text'], input[type='password'], textarea {
  border: 1px solid #6fbdfe;
  color: #6fbdfe; }

input[type='submit'], input[type='button'] {
  padding: 3px 7px;
  *padding: 0; }

ul {
  margin-left: 20px; }

li {
  list-style-type: square;
  color: #ff6600;
  font-size: 18px;
  line-height: 20px; }

li span {
  font-size: 12px;
  color: #585858; }

#container {
  width: 996px;
  background-color: white;
  margin-left: auto;
  margin-right: auto; }

#header {
  background-color: #f4f4f4; }

#navigation {
  text-align: right;
  padding-right: 12px; }
  #navigation #links {
    display: inline-block;
    zoom: 1;
    *display: inline;
    background-color: #cfe8fd;
    vertical-align: top;
    line-height: 23px;
    height: 23px;
    color: #585858; }
    #navigation #links a {
      text-decoration: none;
      margin: 0 10px; }

#left-block-contents {
  background-image: url("/images/left-column-bg.png");
  background-repeat: no-repeat;
  width: 332px; }
  #left-block-contents #email {
    margin: 12px 0;
    font-size: 14px; }
    #left-block-contents #email a {
      color: #ff6600; }

#tabs {
  height: 36px;
  text-align: right;
  font-size: 14px;
  font-weight: bold;
  padding-right: 12px; }
  #tabs #links {
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top;
    height: 36px;
    line-height: 36px; }
    #tabs #links .tab {
      background-color: #6fbdfe;
      display: inline-block;
      zoom: 1;
      *display: inline;
      width: 110px;
      text-align: center; }
    #tabs #links .current {
      background-color: #ff6600; }
    #tabs #links a {
      outline: 0;
      color: white;
      text-decoration: none;
      margin: 0 10px; }

#logo {
  text-align: left;
  margin-left: 12px; }

#quote {
  background-color: #ff6600;
  height: 116px;
  color: white;
  padding: 6px 12px 0; }

#quote-text {
  text-align: left;
  font-size: 20px;
  line-height: 26px; }

#quote-signature {
  text-align: left;
  padding-right: 12px;
  margin-top: 12px; }

.button {
  text-align: center;
  line-height: 31px;
  color: white;
  font-size: 16px;
  height: 31px;
  display: inline-block;
  padding: 2px; }
  .button > * {
    display: inline-block; }
  .button .left, .button .right {
    width: 18px;
    height: 31px; }
  .button .left {
    background-image: url("/images/button-left.png"); }
  .button .right {
    background-image: url("/images/button-right.png"); }
  .button .text {
    background-image: url("/images/button-bg.png");
    background-repeat: repeat-x; }
    .button .text a {
      vertical-align: middle !important;
      text-decoration: none;
      color: white;
      height: 24px;
      line-height: 24px; }

.on-black .left {
  background-image: url("/images/button-left-black.png"); }
.on-black .right {
  background-image: url("/images/button-right-black.png"); }
.on-black .text {
  background-image: url("/images/button-bg-black.png"); }

.orange {
  background-image: url("/images/orange_button.png"); }

#tagline {
  margin-top: 23px; }
  #tagline #text {
    color: #6fbdfe;
    text-align: left; }

#landing-page-header {
  margin-top: 13px; }
  #landing-page-header #text {
    color: #6fbdfe;
    text-align: left; }

#landing-page-content {
  height: 347px; }

.summary-paragraph {
  margin-top: 7px; }
  .summary-paragraph .border, .summary-paragraph .text-container {
    display: inline-block;
    zoom: 1;
    *display: inline; }
  .summary-paragraph .text-container {
    height: 71px;
    width: 635px;
    text-align: left;
    background-color: #cfe8fd;
    padding: 6px;
    padding-left: 11px; }
    .summary-paragraph .text-container .gist {
      font-size: 16px;
      font-weight: bold;
      color: #323232; }
    .summary-paragraph .text-container .text {
      margin: auto;
      margin-top: 4px;
      font-size: 12px; }

#tagline #border, #tagline #text-container, #landing-page-header #border, #landing-page-header #text-container {
  display: inline-block;
  zoom: 1;
  *display: inline; }
#tagline #text-container, #landing-page-header #text-container {
  height: 67px;
  width: 652px;
  text-align: center; }
#tagline #text, #landing-page-header #text {
  margin: 8px 40px 8px 17px;
  width: 580px;
  font-size: 22px;
  font-weight: bold; }

#form-area-container {
  background-color: #323232;
  height: 122px;
  padding-left: 24px;
  color: white; }
  #form-area-container * {
    display: inline-block;
    zoom: 1;
    *display: inline; }
  #form-area-container #form-area {
    text-align: left; }
    #form-area-container #form-area #title-container {
      height: 41px; }
      #form-area-container #form-area #title-container #title {
        font-size: 22px;
        line-height: 41px;
        height: 41px; }
    #form-area-container #form-area #form-container {
      height: 57px;
      padding-bottom: 12px; }
      #form-area-container #form-area #form-container #search-box, #form-area-container #form-area #form-container #submit {
        display: inline-block;
        zoom: 1;
        *display: inline;
        vertical-align: bottom; }
      #form-area-container #form-area #form-container #search-box {
        width: 520px; }
        #form-area-container #form-area #form-container #search-box input {
          width: 100%;
          font-size: 28px; }
      #form-area-container #form-area #form-container #submit {
        padding-right: 12px;
        padding-left: 12px;
        height: 35px; }
        #form-area-container #form-area #form-container #submit * {
          vertical-align: middle; }
    #form-area-container #form-area #text {
      padding-top: 8px; }
    #form-area-container #form-area .student-lead-form input {
      border-width: 0; }
    #form-area-container #form-area .student-lead-form #left-column {
      width: 115px;
      font-weight: bold;
      height: 49px;
      line-height: 25px; }
    #form-area-container #form-area .student-lead-form #middle-column {
      width: 335px; }
      #form-area-container #form-area .student-lead-form #middle-column input {
        font-size: 14px;
        padding-top: 4px;
        height: 16px; }
      #form-area-container #form-area .student-lead-form #middle-column #title {
        width: 50px;
        margin-right: 6px; }
      #form-area-container #form-area .student-lead-form #middle-column #first-name, #form-area-container #form-area .student-lead-form #middle-column #last-name {
        width: 136px; }
      #form-area-container #form-area .student-lead-form #middle-column #first-name {
        margin-right: 4px; }
      #form-area-container #form-area .student-lead-form #middle-column #email {
        width: 332px;
        margin-top: 5px; }
    #form-area-container #form-area .student-lead-form #submit {
      text-align: center;
      width: 160px;
      margin-bottom: 9px; }

#summary {
  height: 260px;
  padding-top: 10px;
  background-image: url("/images/summary-background.png"); }

#content {
  border-top: 3px solid #ff6600;
  min-height: 700px; }

.hourly-rate {
  color: #ff6600;
  font-size: 40px;
  text-align: center; }
  .hourly-rate .hour {
    vertical-align: baseline !important;
    font-size: 15px;
    color: #585858; }

#calendar {
  font-size: 120%; }

#footer {
  background-color: #585858;
  font-size: 90%;
  padding: 12px;
  height: 100px;
  text-align: left; }
  #footer * {
    color: #999999; }
  #footer a {
    text-decoration: none; }
  #footer h6 {
    margin-bottom: 10px; }
  #footer > div {
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top; }
    #footer > div > div {
      margin-bottom: 3px; }
  #footer #about-us {
    margin-left: 178px;
    width: 166px; }
  #footer #copyright {
    float: right; }

.clearer {
  clear: both; }

body > #login-form {
  display: none; }

.fieldWithErrors input {
  border: 1px solid red; }

#errors {
  border-left: 15px solid red;
  border-top: 1px solid red;
  padding: 10px; }

.errorExplanation h2 {
  color: red; }
.errorExplanation ul li {
  color: black;
  font-size: 120%; }

#flash div {
  margin: 10px 30px;
  padding: 10px;
  background-color: yellow;
  border-left: 15px solid #6fbdfe;
  border-top: 1px solid #6fbdfe; }

#flash div.error {
  border-left: 15px solid red;
  border-top: 1px solid red; }

#flash div.warn {
  border-left: 15px solid orange;
  border-top: 1px solid orange; }

div.fieldWithErrors {
  display: inline; }

#old-password {
  margin-top: 30px; }

.padded-right-column {
  text-align: left;
  padding: 6px 24px; }

#page-title {
  color: #6fbdfe;
  padding: 12px 0 12px 0; }

.fieldset {
  background-image: url("/images/fieldset-background.png"); }
  .fieldset .top, .fieldset .bottom {
    height: 10px; }
  .fieldset, .fieldset .top, .fieldset .bottom, .fieldset .bottom-arrow {
    width: 619px;
    background-repeat: repeat-y; }
  .fieldset .top {
    background-image: url("/images/fieldset-top.png"); }
  .fieldset .bottom {
    background-image: url("/images/fieldset-bottom.png"); }
  .fieldset .bottom-arrow {
    background-image: url("/images/fieldset-bottom-arrow.png");
    height: 20px; }

#hints-container {
  padding: 12px; }

#hints {
  background-image: url("/images/hints-background.png");
  width: 296px;
  background-repeat: repeat-y;
  text-align: left; }
  #hints .top, #hints .bottom {
    height: 10px; }
  #hints #hints-body {
    padding: 12px; }
    #hints #hints-body .email {
      text-align: center; }
      #hints #hints-body .email a {
        color: #ff6600;
        font-size: 18px; }
  #hints .top {
    margin-bottom: 6px;
    background-image: url("/images/hints-top.png"); }
  #hints .bottom {
    margin-top: 6px;
    background-image: url("/images/hints-bottom.png"); }

.make-a-booking {
  background-image: url("/images/booking-background.png");
  width: 317px;
  background-repeat: repeat-y;
  text-align: center; }
  .make-a-booking .top, .make-a-booking .bottom {
    height: 10px; }
  .make-a-booking .book-online {
    margin: 12px 0; }
  .make-a-booking .top {
    margin-bottom: 25px;
    background-image: url("/images/booking-top.png"); }
  .make-a-booking .bottom {
    margin-top: 25px;
    background-image: url("/images/booking-bottom.png"); }

#daily-availability {
  margin-bottom: 24px; }
  #daily-availability p {
    color: #ff6600;
    font-weight: bold; }

#welcome-line {
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin: 0 12px;
  font-weight: bold; }

#photo {
  height: 360px;
  position: relative; }
  #photo img {
    position: absolute;
    bottom: 0; }

#two-columns * {
  vertical-align: top; }

#left-block {
  width: 332px;
  heigth: 100%;
  display: inline-block;
  zoom: 1;
  *display: inline; }

#right-block {
  width: 664px;
  height: 100%;
  display: inline-block;
  zoom: 1;
  *display: inline; }
  #right-block #summary > * {
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 314px;
    padding-left: 18px; }
  #right-block #summary .title {
    color: #ff6600;
    font-size: 18px;
    font-weight: bold;
    margin: 0px 0; }
  #right-block #summary .step {
    text-align: left;
    margin: 12px 0; }
    #right-block #summary .step * {
      display: inline-block;
      zoom: 1;
      *display: inline; }
    #right-block #summary .step .text {
      line-height: 40px;
      font-size: 15px;
      padding-left: 12px; }
  #right-block #summary .action {
    margin-top: 15px; }

#cleaners, #latest-activity {
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-top: 12px;
  margin-bottom: 12px; }

#cleaners {
  width: 640px;
  margin-right: 6px; }
  #cleaners #pagination {
    font-size: 14px; }
    #cleaners #pagination > div {
      line-height: 25px;
      margin: 3px;
      display: inline-block;
      zoom: 1;
      *display: inline;
      background-color: #6fbdfe;
      height: 25px;
      width: 25px;
      color: white;
      font-weight: bold; }
    #cleaners #pagination .active {
      background-color: #ff6600; }
    #cleaners #pagination .page-mdot {
      height: 7px;
      width: 7px;
      vertical-align: middle; }

#latest-activity {
  width: 308px;
  padding-right: 24px;
  vertical-align: top;
  padding: 6px 12px;
  text-align: left; }

.cleaner {
  height: 160px;
  margin-bottom: 12px;
  border-top: 2px solid #6fbdfe;
  background-color: #e9f4fe;
  text-align: left; }
  .cleaner * {
    vertical-align: top; }
  .cleaner > div {
    display: inline-block;
    zoom: 1;
    *display: inline; }
  .cleaner .button {
    font-size: 12px; }
  .cleaner .photo {
    width: 122px;
    position: relative;
    height: 160px; }
    .cleaner .photo img {
      position: absolute;
      bottom: 0px; }
  .cleaner > .text {
    padding-top: 6px;
    padding-right: 12px;
    width: 340px; }
    .cleaner > .text .name a {
      color: #ff6600; }
    .cleaner > .text .university {
      font-size: 10px;
      text-decoration: underline;
      margin: 6px 10px; }
    .cleaner > .text .introduction {
      font-size: 14px; }
    .cleaner > .text .stats {
      font-size: 10px;
      margin-top: 12px;
      color: #ff6600; }
      .cleaner > .text .stats .stats-column-first {
        width: 75px; }
      .cleaner > .text .stats .stats-column-second {
        width: 130px; }
      .cleaner > .text .stats .stats-column-third {
        width: 108px; }
      .cleaner > .text .stats .reviews, .cleaner > .text .stats .missed-jobs, .cleaner > .text .stats .last-logged-in {
        margin-top: 3px; }
      .cleaner > .text .stats > div {
        display: inline-block;
        zoom: 1;
        *display: inline; }
        .cleaner > .text .stats > div a {
          color: #ff6600; }
  .cleaner .booking-info {
    padding-top: 6px;
    width: 166px; }
    .cleaner .booking-info .hire {
      text-align: center; }
    .cleaner .booking-info .availability {
      margin: 5px 0; }
      .cleaner .booking-info .availability .active {
        color: #ff6600;
        font-weight: bold; }
      .cleaner .booking-info .availability .inactive {
        color: #585858; }
      .cleaner .booking-info .availability > div {
        width: 40px;
        padding-left: 15px;
        display: inline-block;
        zoom: 1;
        *display: inline; }
        .cleaner .booking-info .availability > div > div {
          margin: 4px 0; }

#faq .faq-item {
  margin: 24px 0; }
  #faq .faq-item p {
    padding-left: 6px; }

#new-client #country-name {
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 250px;
  border: 1px solid #6fbdfe;
  *margin-right: 5px; }

#cleaner-summary {
  height: 360px;
  text-align: left;
  padding-right: 12px; }
  #cleaner-summary #details > div {
    margin-top: 10px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top; }
  #cleaner-summary #details #stats {
    width: 332px; }
  #cleaner-summary #introduction {
    max-height: 125px;
    line-height: 16px;
    overflow: hidden; }

#availability #calendar {
  padding-left: 55px; }

#hints ul {
  text-align: left;
  margin: 0 50px; }

#reviews {
  text-align: left;
  padding: 0 12px; }
  #reviews .review, #reviews #new-review {
    border-top: 2px solid #6fbdfe;
    background-color: #cfe8fd; }
  #reviews .review {
    padding: 5px 15px;
    margin-bottom: 12px; }
    #reviews .review .signature {
      padding-top: 6px; }
    #reviews .review .signature, #reviews .review .timestamp {
      color: #ff6600; }
  #reviews #new-review {
    padding: 12px;
    margin: 24px 0; }
    #reviews #new-review textarea {
      width: 100%;
      height: 75px;
      margin: 6px 0; }
    #reviews #new-review .button {
      margin: 6px 0; }

#new-cleaner #description textarea {
  width: 400px;
  height: 100px; }
#new-cleaner #skills .fieldWithErrors, #new-cleaner #terms-and-conditions .fieldWithErrors {
  display: inline; }
#new-cleaner #set-availability {
  width: 430px;
  height: 370px; }
  #new-cleaner #set-availability ul {
    margin-left: 0; }
  #new-cleaner #set-availability li {
    float: left;
    width: 50px;
    height: 20px;
    text-align: center;
    font-size: 9px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-right: 1px solid #585858;
    border-bottom: 1px solid #585858; }
  #new-cleaner #set-availability li.ui-selecting {
    background: yellow; }
  #new-cleaner #set-availability li.ui-selected {
    background: orange;
    color: white; }
  #new-cleaner #set-availability li.non-selectable {
    color: black; }

#availability #calendar {
  margin-bottom: 10px; }

#upload-picture {
  width: 250px;
  height: 310px;
  text-align: center;
  border-right: 1px solid #6fbdfe; }

#upload-picture-hint {
  padding-top: 100px;
  margin-bottom: 20px;
  line-height: 20px; }

.floating-button {
  position: absolute;
  right: 0px;
  bottom: 0;
  z-index: 3;
  display: none; }

#cleaner-photo {
  right: 0;
  position: absolute;
  bottom: 0; }

#new-booking {
  text-align: left;
  padding-left: 24px; }
  #new-booking .hourly-rate {
    float: right;
    display: none; }
  #new-booking #calendar {
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 300px;
    padding-left: 0; }
  #new-booking #hours {
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top;
    text-align: center; }
  #new-booking #cleaning-materials p {
    margin-top: 12px; }
  #new-booking #time-selectors * {
    vertical-align: middle; }
  #new-booking #time-selectors #end-time {
    margin: 0 20px 0 5px; }
  #new-booking #time-selectors #start-time {
    margin: 0 5px 0 0; }
  #new-booking #time-selectors #start-time, #new-booking #time-selectors #end-time {
    display: inline-block;
    zoom: 1;
    *display: inline; }
  #new-booking #time-selectors select {
    *width: 60px; }
  #new-booking #cost {
    font-size: 18px; }
  #new-booking #submit {
    font-size: 125%; }

#bookings {
  text-align: left;
  padding: 0 12px; }
  #bookings .booking {
    width: 100%;
    background-color: #e9f4fe;
    border-bottom: 2px solid #323232;
    margin-bottom: 12px; }
    #bookings .booking .body, #bookings .booking .title, #bookings .booking .notes {
      padding: 6px; }
      #bookings .booking .body > *, #bookings .booking .title > *, #bookings .booking .notes > * {
        display: inline-block;
        zoom: 1;
        *display: inline; }
    #bookings .booking .title {
      background-color: #323232;
      color: white;
      font-size: 18px; }
    #bookings .booking .notes {
      border-top: 1px solid #323232; }
  #bookings .cleaners-booking .client-name, #bookings .cleaners-booking .contact-details {
    width: 209px; }
  #bookings .cleaners-booking .time {
    width: 308px; }
  #bookings .cleaners-booking .status {
    width: 110px;
    text-align: right; }
  #bookings .cleaners-booking .address {
    width: 229px; }
  #bookings .cleaners-booking .booking-deal {
    width: 189px; }
  #bookings .cleaners-booking .body .address .map-link {
    font-weight: bold; }
  #bookings .cleaners-booking .body .booking-deal {
    text-align: center; }
    #bookings .cleaners-booking .body .booking-deal .price {
      color: #ff6600;
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 6px; }

#upcoming {
  margin-bottom: 20px; }

.long-form > div {
  margin-bottom: 20px; }
  .long-form > div .subheader * {
    display: inline-block;
    zoom: 1;
    *display: inline; }
  .long-form > div .subheader h2 {
    margin-left: 12px; }
.long-form > div > div {
  margin-bottom: 15px;
  padding-left: 20px; }
.long-form #name div {
  vertical-align: middle; }
.long-form #honorific, .long-form #first-name, .long-form #last-name {
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-right: 3px; }
.long-form input[type='text'], .long-form input[type='password'] {
  width: 250px; }
.long-form #terms-and-conditions input {
  margin-right: 10px; }
.long-form #submit {
  font-size: 125%; }
