RewriteEngine on
RewriteCond %{HTTP_HOST} ^innocentcleaners\.com
RewriteRule ^(.*)$ http://www.innocentcleaners.com/$1 [R=permanent,L] 

RewriteCond %{HTTP_HOST} ^innocentcleaners\.co.uk
RewriteRule ^(.*)$ http://www.innocentcleaners.com/$1 [R=permanent,L]

RewriteCond %{HTTP_HOST} ^www.innocentcleaners\.co.uk
RewriteRule ^(.*)$ http://www.innocentcleaners.com/$1 [R=permanent,L]

