- if @cleaner.bookings.empty?
  %h1 There are no jobs to display
  %p This page will contain all past and upcoming jobs.
  %p You will be able to accept, decline or cancel them on this page.
  %p We will notify you by sms when somebody offers you a job.
- else
  = render :partial => 'cleaners_bookings_subset', :locals => {:bookings => @cleaner.upcoming_bookings, :title => 'Upcoming jobs'}
  = render :partial => 'cleaners_bookings_subset', :locals => {:bookings => @cleaner.past_bookings, :title => 'Past jobs'}