%ul
  %li 
    %span Please call or email the client to discuss the job if necessary.
  %li
    %span You will be expected to be on time.
  %li
    %span Don't forget to take cleaning materials if the job description mentions it.
