%ul
  %li 
    %span If you have any questions regarding your booking, please call or email the cleaner.
  %li
    %span You will be expected to be at home at the time of the booking.
  %li
    %span Please cancel the booking if your plans have changed.
