#hints
  %h2
    Tips
  #hints-list
    %ul
      %li 
        %span You can book a cleaner up to two weeks in advance
      %li
        %span The minimum booking time is specified by the cleaner        
      %li
        %span You will be expected to pay cash to the cleaner when the job is done
        