= content_for :master_picture do
  #master-picture-container<>
    #master-picture
      %img{:src => '/images/stock/lady_happy.png'}<>
  
= content_for :left_content do
  = render :partial => 'hints'

#right-container
  = render :partial => "cleaners_bookings"