= content_for :master_picture do
  %img.with_right_border{:src => @cleaner.photo.url(:medium)}<>
  
= content_for :left_content do
  = render :partial => 'hints'

#right-container
  = render :partial => "cleaners_bookings"