#hints
  %h2 Tips
  %ul#hints-list
    %li
      %span Please include the photo, it greatly increases your chances of finding work.
    %li
      %span Remember that the customers are price-sensitive, so a low price will improve your chances. Once you get several positive reviews, you'll be able to push it up.
    