= content_for :lady do
  %img{:src => '/images/confident_lady.png'}<>
  
/ = content_for :left_content do
/   = render :partial => 'tips'

#new
  %h2 Create a new account
  %p
    You need to create an account to hire cleaners and leave reviews. It takes less than a minute to create an account.
    
  #personal.gap-after
    %h2 Personal information
    %p.small-gap-after
      Please provide your real name. Only your first name will be shown on the website, though.

    #name.small-gap-after
      #first-name
        %h4 First name
        %input.small-gap-after{:type => 'text'}

      #last-name
        %h4 Last name
        %input{:type => 'text'}

    #sex.small-gap-after
      %h4
        I'm a
      %select
        %option Woman
        %option Man      
    #my-postcode.small-gap-after
      %h4 My postcode
      %input{:type => 'text'}
      e.g. W2 1TT

    #my-email.small-gap-after
      %h4 My email
      %input{:type => 'text'}
      e.g. very.innocent.cleaner@gmail.com


  