.make-a-booking>
  = render :partial => 'shared/hourly_rate', :locals => {:rate => cleaner.rate}
  .book-online
    = button_to 'Hire me!', {:controller => :bookings, :action => :new, :cleaner_id => cleaner.id}, :method => :get unless current_user and current_user.cleaner?