#daily-availability
  = hidden_field_tag :availability, @booking.cleaner.availability.to_hash.to_json
  #morning
    %h3
      Morning
    .timespan 08:00 &mdash; 11:00
  #afternoon
    %h3
      Afternoon    
    .timespan 12:00 &mdash; 14:00
    .timespan 16:00 &mdash; 18:00
  #evening
    %h3
      Evening  
    .timespan 18:00 &mdash; 21:00
