#daily-availability
  = hidden_field_tag "availability-json", @cleaner.availability.to_hash.to_json
  #morning
    %p
      Morning
    .timespan 08:00 &mdash; 11:00
  #afternoon
    %p
      Afternoon    
    .timespan 12:00 &mdash; 14:00
    .timespan 16:00 &mdash; 18:00
  #evening
    %p
      Evening  
    .timespan 18:00 &mdash; 21:00
