%h3
  Morning
#morning.small-gap-after
  .timespan 08:00 &mdash; 11:00
%h3
  Afternoon
#afternoon.small-gap-after
  .timespan 12:00 &mdash; 14:00
  .timespan 16:00 &mdash; 18:00
%h3
  Evening  
#evening.small-gap-after
  .timespan 18:00 &mdash; 21:00
