#name
  #honorific
    %select
      %option Mr
      %option Mrs
      %option Ms
  #first-name
    %input{:type => 'text', :value => 'First name'}

  #last-name
    %input{:type => 'text', :value => 'Last name'}
