- f.fields_for :user do |f|
  .hint You will use your email to log in.
  #password
    = f.password_field :password
    Please use no less than 6 characters
  #password-confirmation
    = f.password_field :password_confirmation
    Enter the same password in both fields
    