#terms-and-conditions
  %hr
  %h4 Please take time to read Terms and Conditions for this website and check the following box if you agree with them.
  .i-agree
    %input{:type => 'checkbox'} I agree with the Terms and Conditions
