/ #terms-and-conditions
/   %hr
/   %h4 Please take time to read Terms and Conditions for this website and check the following box if you agree with them.
/   .i-agree
/     = f.check_box :terms_and_conditions
/     I agree with the Terms and Conditions
