= content_for :master_picture do
  #master-picture-container<>
    #master-picture
      %img{:src => '/images/lead_photo.jpg', :alt => "Smiling lady"}
  
= content_for :left_content do
  = render :partial => 'tips'

#right-container
  = render :partial => 'new'


  