= content_for :master_picture do
  #master-picture-container<>
    #master-picture
      - if controller.action_name == 'new'
        %img{:src => '/images/stock/lady_thumbs_up.png'}<>
      - else
        %img{:src => '/images/stock/lady_cheeky.png'}<>
  
= content_for :left_content do
  = render :partial => 'tips'

#right-container
  = render :partial => 'new'


  