= content_for :master_picture do
  #master-picture-container<>
    #master-picture
      %img{:src => '/images/confident_lady.png'}<>
  
= content_for :left_content do
  = render :partial => 'tips'

#right-container
  = render :partial => 'new'


  