#about.padded-right-column
  %h1#page-title About Varsity Cleaners
  
  %p 
    My name is Evgeny Shadchnev. I don't like the way the cleaning industry in the UK works. I don't like using conventional cleaning agencies because I never know who's going to come 
    and I know that the cleaners pay a very large commission to the agency, which is unfair. I couldn't find a website that I liked to book a cleaner, so I created VarsityCleaners.co.uk.

  %p 
    Many cleaners say that they are badly treated by the agencies that take a large cut of their earnings. If you pay &pound;12 per hour to the cleaner, 
    the person who actually does the hard work may receive only &pound;7 or &pound;8. I consider this unfair.

  %p 
    When I hire a cleaner, I'd like to know who is going to come. Just like I prefer reading Amazon reviews before a purchase, 
    I want to be able to read customer feedback for the particular cleaner I am hiring.

  %p 
    It makes sense to me to hire cleaners online. Right now you are supposed to call an agency to book a cleaner. 
    To me this is like going to the shopping mall instead of buying things online. This is wrong.

  %p 
    I also prefer hiring students as cleaners. Firstly, I like to know that the money I pay goes to financing the studies. 
    Secondly, I trust students more. Conventional agencies have complicated vetting procedures to make sure their cleaners play by the rules. 
    That's way too complicated. If I'm hiring a local student, that's just as good as a background check. In the future Varsity Cleaners will expand to include not only students 
    but I will do my best to keep things simple for everybody.

  %p So, with these ideas in mind Varsity Cleaners were born. Right now I'm the only person working on this website but if what I'm doing makes sense to you, please drop me a line.