.cleaner
  .photo>
    %img{:src => 'images/emma_small.png'}
  .details>
    %h2.name      
      = link_to name, :controller => "cleaner", :action => "show", :id => 1
    .stats
      .jobs-done
        %a{:href => '#'}
          5 Jobs Done
      .reviews
        %a{:href => '#'}
          2 Reviews
    .introduction
      I'm a professional and reliable cleaner with 3 years of cleaning experience in the UK. I'm happy to provide recommendations from several clients, including individuals and companies.
  = render :partial => 'shared/booking'