%table.cleaner
  %tr
    %td.photo{:rowspan => 2}
      %img{:src => 'images/emma_small.png'}<>
    %td.details
      .name
        = name
      .jobs-done
        5 Jobs Done
      .reviews
        2 Reviews    
    %td
      .hourly-rate
        £10
  %tr
    %td
    %td.book-online
      Book online