.cleaner
  .photo>
    %img{:src => 'images/emma_small.png'}
  .details>
    %h2.name      
      = link_to name, :controller => "cleaner", :action => "show", :id => 1
    .stats
      .jobs-done
        %a{:href => '#'}
          5 Jobs Done
      .reviews
        %a{:href => '#'}
          2 Reviews
    .introduction
      Hi Dear, I can do whatever it takes to make you satisfied! I'm proficient in using mops and cleaning cloths, should you require this as well :) Don't hesitate to contact me! Bye-bye, baby!
  .booking>
    .hourly-rate
      &pound;10
      %span.hour<>
        \/hour
    .book-online
      %input{:value => 'Hire online', :type => 'submit'}