.cleaner
  .photo>
    %img{:src => cleaner.photo ? cleaner.photo.url(:thumb) : 'http://dummyimage.com/110x160/000/fff.png&text=innocent%20cleaner'}
  .details>
    %h2.name      
      = link_to cleaner.first_name, :controller => "cleaners", :action => "show", :id => cleaner.id
    .stats
      .jobs-done
        %a{:href => '#'}
          5 Jobs Done
      .reviews
        %a{:href => '#'}
          2 Reviews
    .introduction
      = cleaner.description
  = render :partial => 'shared/booking', :locals => {:cleaner => cleaner}