/[if lte IE 6]
  %style{:type => "text/css"}
    :plain
      body {
      text-align: left;
      }
      #ie-message {          
      background:#C00;
      text-align:center;
      border-bottom:1px solid #900;
      color: #fff;
      position:absolute;
      top:0;
      padding:5px;
      width:100%;
      }
      #ie-message a {
      color: #fff;
      }
  #ie-message      
    Your browser is obsolete, that's why this site looks bad on your PC. Please upgrade to 
    a modern browser, such as <a href="http://chrome.google.com" target="_new">Google Chrome</a>.