- form_tag '/' do
  #label
    Enter postcode
  #postcode
    %input{:name => 'postcode', :type => 'text', :value => @postcode}
  #submit
    %input{:type => 'image', :src => '/images/find_button.png'}  
#number-of-results
  - if @search
    = pluralize(@cleaners.size, 'cleaner')
    found