.title
  Homeowners
= render :partial => 'how_to', :locals => {:image => 'arrow', :text => "Hire trustworthy university students"}
= render :partial => 'how_to', :locals => {:image => 'pound', :text => "Help students finance studies"}
= render :partial => 'how_to', :locals => {:image => 'tick', :text => "All money goes to students"}
.action
  .orange.button
    Find out more
  
