.title
  Students
= render :partial => 'how_to', :locals => {:image => 'smiley', :text => "Get flexible one-off jobs"}
= render :partial => 'how_to', :locals => {:image => 'sms', :text => "Receive and accept jobs by sms"}
= render :partial => 'how_to', :locals => {:image => 'nocommission', :text => "Do not pay a commission"}
.action
  .orange.button
    See how it works
