.title
  Homeowners
= render :partial => 'how_to', :locals => {:image => 'arrow', :text => 'Hire cleaners online for free'}
= render :partial => 'how_to', :locals => {:image => 'at', :text => 'Get confirmation by sms'}
= render :partial => 'how_to', :locals => {:image => 'tick', :text => 'Leave feedback for cleaners'}
.action
  = link_to "Choose a Cleaner Now!", '#', :onclick => 'collapseTopPart(); return false;'
.hint
  You need a cleaner, not an agency
