.title
  Students
= render :partial => 'how_to', :locals => {:image => 'smile', :text => 'Get flexible one-off jobs'}
= render :partial => 'how_to', :locals => {:image => 'text', :text => 'Receive and accept jobs by sms'}
= render :partial => 'how_to', :locals => {:image => 'percent', :text => "Don't pay a commission"}
/ .action
/   = link_to "Join Now!", :controller => :cleaners, :action => :new
/ .hint
/   You don't need an agency to find work
