.title
  Homeowners
= render :partial => 'how_to', :locals => {:image => 'arrow', :text => 'Hire reliable university students'}
= render :partial => 'how_to', :locals => {:image => 'pound', :text => 'Help students finance studies'}
= render :partial => 'how_to', :locals => {:image => 'tick', :text => 'Leave feedback afterwards'}
/ .action
/   = link_to "Choose a Cleaner Now!", '#', :onclick => 'collapseTopPart(); return false;'
/ .hint
/   You need a cleaner, not an agency
