.title
  Cleaners
= render :partial => 'how_to', :locals => {:image => 'free', :text => 'Advertise yourself for free'}
= render :partial => 'how_to', :locals => {:image => 'text', :text => 'Receive jobs by sms'}
= render :partial => 'how_to', :locals => {:image => 'percent', :text => 'Don\'t pay any commission'}
.action
  %a{:href => '#'}
    Join Now!
.hint
  You don't need an agency to find work
