.title
  Homeowners
= render :partial => 'how_to', :locals => {:image => 'arrow', :text => "Hire Trustworthy University Students"}
= render :partial => 'how_to', :locals => {:image => 'pound', :text => "Help Students Finance Studies"}
= render :partial => 'how_to', :locals => {:image => 'tick', :text => "All Money Goes to Students"}
.action
  = render :partial => 'shared/button', :locals => {:text => 'Find Out More', :href => '/homeowners'}
  
