.title
  Students
= render :partial => 'how_to', :locals => {:image => 'smiley', :text => "Get Flexible One-off Jobs"}
= render :partial => 'how_to', :locals => {:image => 'sms', :text => "Receive and Accept Jobs by Sms"}
= render :partial => 'how_to', :locals => {:image => 'nocommission', :text => "Do Not Pay a Commission"}
.action
  = render :partial => 'shared/button', :locals => {:text => 'See How It Works'}
