#search
  #search-where
    Where: London
  #search-what
    What: Domestic Cleaning
  #search-when
    When: Today
  
#cleaners
  = render :partial => 'cleaner', :locals => {:name => 'Emma'}
  = render :partial => 'cleaner', :locals => {:name => 'Sonya'}