= content_for :master_picture do
  #master-picture-container<>
    #master-picture
      %img{:src => '/images/lead_photo.jpg', :alt => "Smiling lady"}

= render :partial => @welcome_partial

#right-container.full-width
  #cleaners
    - @cleaners.each do |cleaner|    
      = render :partial => 'cleaner', :locals => {:cleaner => cleaner}
