= content_for :master_picture do
  #master-picture-container<>
    #master-picture<>
      %img{:src => '/images/students_thumbs_up.png', :alt => "thumbs up"}

#right-container.no-bottom-gap<>
  %img#landing-image{:src => '/images/student-landing-page.png', :usemap => '#map', :alt => 'landing image'}
  %map#map{:name => 'map'}
    %area{:shape =>"poly", :coords => "637,447,651,450,663,456,674,463,683,472,691,482,695,495,697,509,695,524,688,537,681,549,671,558,657,567,644,571,627,570,615,568,605,561,595,553,586,544,580,532,575,519,574,507,576,495,582,481,585,473,596,463,602,456,614,452,626,448", :href => new_cleaner_path}
  