#hints
  %h2
    Tips and Advice
  #hints-list
    %ul
      %li 
        %span Be careful with this baby
      %li 
        %span Be polite with her
      %li
        %span Always have all your mops and cleanings cloths ready by the time she comes