#tabs<>
  = image_tag 'tabs-border-left-orange.png'
  #links<>
    .tab.current>
      %a{:href => '#'} home
    .tab>
      %a{:href => '/students'} students
    .tab>
      %a{:href => '#'} homeowners
    .tab>
      %a{:href => '#'} faq
  = image_tag 'tabs-border-right.png'