#tabs<>
  = image_tag 'tabs-border-left.png'
  #links<>
    %a.current{:href => '#'} home
    |
    %a{:href => '/students'} students
    |
    %a{:href => '#'} homeowners
    |
    %a{:href => '#'} faq
  = image_tag 'tabs-border-right.png'